package settings

import "dreampicai/view/layout"
import "dreampicai/types"

templ Index(user types.AuthenticatedUser) {
	@layout.App(true) {
		<div class="max-w-2xl w-full mt-18 mx-auto">
			account
		</div>
	}
}
